
.odd {
    background-color: lightcoral;
    font-family: "Verdana", "Dejavu Sans", sans-serif;
}

#two{
    font-size: 36px;
    color: blue;
}

.adjust-font-size{
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}